.iconos {
  width: 35px;
  height: 35px;
  position: block;
  
  transition-property: width, height; 
  transition-duration: 0.4s; 
  transition-timing-function: ease; 
  transition-delay: 0s;
  }

  .iconos:hover {
    width: 40px;
    height: 40px;

    
    

    
  }



  
  .iconos:hover .svgIcon1 path {
    fill: #0a66c2;

  }
  .iconos:hover .svgIcon2 path {
    fill: #48b4c0;

  }
  .iconos:hover .svgIcon3 path {
    fill: #4a586e;

  }
  .iconos:hover .svgIcon4 path {
    fill: #1ad03f;

  }
  .svgIcon path{
    fill: #ffffff;
    transition: all ease 0.5s;
  }



  @media (max-width: 900px) 
  {
    .iconos {
      width: 30px;
      height: 30px;
      position: block;
      
      transition-property: width, height; 
      transition-duration: 0.3s; 
      transition-timing-function: ease; 
      transition-delay: 0s;
      }
    
      .iconos:hover {
        width: 30px;
        height: 30px;
    
        
        
    
        
      }



  }
  