body {
  margin: 0;
  
  font-family: 'Roboto Mono', monospace;
}
.color
{
  color: #79f1b5;
}
.bg {
  height: 100%;
  width: 100%;
  background-color:#8aecbb;
  background: radial-gradient(ellipse at top, rgba(24, 46, 35,1), rgba(9, 10, 15, 1));
  background-size: 100% 100%;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  align-self: center;
  width: 50vw;
  height: auto;
}
.uno{
display: flex;
justify-content: center;
flex-direction: column;


}
.head {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  width: fit-content;
  flex-direction: column;
}

.texto {
  color: white;
  font-size: 2vh;
  width: 40vw;
  max-width: 100%;
}

.texto2 {
  color: white;
  font-size: 4vh;
}

.texto3 {
  color: white;
  font-size: 2vh;
  margin-top: 10px;
  text-wrap: balance;
}

.perfilimg {
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  margin-bottom: 10px;
  
}

.divperfil {
  display: flex;
  gap: 100px;
  align-items: center;
  
  width: 100%;
  justify-content: space-between;
  height: auto;
}

@media (max-width: 1450px) {
  .body
  {
   width: 60vw;
  }

}
@media (max-width: 1300px) 
{
.imgpre
{
  position: relative;
  right: 7vw;
  align-items: center;
}
  .body {
    width: 80vw;
    padding: 0 20px 20px 20px;
    margin: 0 0 0 0;
  }
}
@media (max-width: 900px) {
    .body {
      width: 100vw;
      padding: 0 20px 20px 20px;
      margin: 0 0 0 0;
    }
    .texto {
      font-size: 1.5vh;
    }
  
    .texto2 {
      font-size: 3.5vh;
      display: flex;
      flex-direction: column;
    }
  
    .texto3 {
      font-size: 1.3vh;
      
    }
  
    .perfilimg {
      height: 15vh;
      width: 15vh;
      
    }
    .divperfil{
      justify-content: space-around;
      align-items: flex-start;
      gap: 0;
      

    }
    .head{
      justify-content: space-around;


      
    }
    .uno{
      height: 55vh;
     



    }
  }
  