.Pbutton
{
  min-width: 30px;
}


.textoimg
{
    min-width: 23vw;
    width: min-content;
    height: auto;
    text-align:left;
    text-wrap: balance;
}
.imagen
{
border: solid rgb(1, 14, 1) 1px;
margin-top: 8px;
width: 356px;
height: 200px;
aspect-ratio: 16/9;
min-height: 10vw;
background-size: cover;
border-radius: 20px;
outline: none;
transition: all 0.3s ease;

}

.span333
{
  display: flex;

}
.secpro
{
  margin-top: 50px;
}
.divproyecto
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  align-self: center;
  width: 50vw;
  height: auto;
}
@media (max-width: 1450px) 
{
.divproyecto
{
  width: 60vw;
}
.textoimg
{
  width:  30vw;
}
.imagen
{
  width: 356px;
  height: 200px;

}
}
@media (max-width: 1300px) 
{
  .divproyecto {
    width: 80vw;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;

  }
  .textoimg
  {
    width:  37vw;
  }
  .imagen
  {
    width: 356px;
    height: 200px;

  }

}

  
@media (max-width: 800px) {

  .secpro
  {
    align-items: flex-start !important;
    justify-content:center !important;
    flex-direction: column !important;
    align-items: center !important;
  }
.divproyecto {
  width: 100vw;
  padding: 0 20px 20px 20px;
  margin: 0 0 0 0;
}

.span333
{
  margin-left:0vw;
  justify-content: center;
  right: 13px;
  position: relative;
  

}
.textoimg
{
  width: 356px;
  margin-bottom: 50px;
}


}
.PButton {
    width: 130px;
    height: 40px;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    background-color: #182d23;
    background-image: linear-gradient(315deg, #182d23 0%, #182d23 74%);
    border: none;
    z-index: 1;
  }
  .PButton::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
     background-color: #3e785d;
  
    transition: all 0.3s ease;
  }
  .PButton:hover {
    color: #fff;
  }
  .PButton:hover:after {
    top: 0;
    height: 100%;
  }
  .PButton:active {
    top: 2px;
  }
  
  