:root {
    --color: #ff0000;
    --hover: #00ff00;
  }


.separador
{
display: flex;
flex-direction: row;
justify-content: center;
gap: 1vw;
}
.textoimg
{
    max-width: 27vw;
    width: auto;
    height: auto;
    text-align:left;
    text-wrap: balance;
}
.imagen
{
border: solid rgb(9, 37, 9) 1px;
width: 22vw;
aspect-ratio: 16/9;
min-height: 10vw;
height: auto;
background-size: cover;
background-image: url("/Proyecto1.png");
border-radius: 20px;
}
@media (max-width: 600px) {
    .imagen
    {


    }
    .separador
    {
    
    
    }
    

}
.PButton {
    width: 130px;
    height: 40px;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    background-color: #182d23;
  background-image: linear-gradient(315deg, #182d23 0%, #182d23 74%);
    border: none;
    z-index: 1;
  }
  .PButton:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
     background-color: #3e785d;
  
    transition: all 0.3s ease;
  }
  .PButton:hover {
    color: #fff;
  }
  .PButton:hover:after {
    top: 0;
    height: 100%;
  }
  .PButton:active {
    top: 2px;
  }
  
  